.mensaje-final{
    width: 70%;
    margin: 0 auto;
    margin-top:40px;
}

.mensaje-final ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline
  }
  
  .mensaje-final ul li {
    display: inline-block;
    margin-right: 20px; 
  }
  
  .item {
    display: flex;
    align-items: center;
  }
  
  .item img {
    margin-right: 10px;
  }
  span{
    font-size: 20px;
  }
