
.logo>h1{
    font-size: 40px;
    color: #17A589;
    font-weight: bold;
    

}
.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: baseline
}
.contenedor>ul{
    list-style: none;
}
a{
    text-decoration: none;
    margin-right: 60px;
    color:black;
    font-weight: bold;
    font-size: 20px;
}
a:hover{
    color: #148D75;

}